.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.statusOnline {
  background-color: green;
}

.statusOffline {
  background-color: red;
}

.item {
  display: flex;
  align-items: center;
}
